
/*animation for homepage*/
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  25% {
    -webkit-filter: blur(6px);
            filter: blur(6px);
    opacity: .2;
  }
  50%{
    -webkit-filter: blur(9px);
            filter: blur(9px);
    opacity: .5;
  }
  75% {
    -webkit-filter: blur(3px);
            filter: blur(3px);
    opacity: .7;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  25% {
    -webkit-filter: blur(6px);
            filter: blur(6px);
    opacity: .2;
  }
  50%{
    -webkit-filter: blur(9px);
            filter: blur(9px);
    opacity: .5;
  }
  75% {
    -webkit-filter: blur(3px);
            filter: blur(3px);
    opacity: .7;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/*small screen*/
@media (min-width:480px) {

  .pagecontainer{
    margin: auto;
    width: auto;
    display: grid;
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr .1fr .3fr .2fr .6fr .2fr .6fr .2fr .6fr .1fr .1fr;
  }

  .nav{
    text-align: center;
    padding: 0.5rem;
    bottom: 0;
    position: fixed;
    width: 100%;
  }

  ul li{
    cursor:pointer;
    list-style-type: none;
    color: white;
    display: inline;
    font-family: 'Bangers', cursive;
    padding:2em;
    text-shadow: 3px 3px 4px black;
  }

  ul li a{
    text-decoration: none;
  }

  header{
    font-size-adjust: auto;
    text-align:center;
    text-shadow: 4px 3px 4px yellow;
  }

  h1{
    font-family: 'Poiret One', cursive;
    font-size: 6em;
    color: white;
    animation-name: text-focus-in;
    animation-duration: 3s;
  }

  h2{
    font-family: 'Sacramento', cursive;
    text-align:center;
    font-size: 2em;
    color: white;
    text-shadow: 4px 3px 4px #01CCB8;
    animation-name: text-focus-in;
    animation-duration: 3s;
  }

  .home{
    grid-column: 1/5;
		grid-row: 1;
    background-image: url('background.png');
    max-width:100%;
    height:800px;
    background-size:cover;
  }

/*title work*/
  .titlework{
		color: #62DACA;
    text-shadow: 6px 6px #FFF000;
    font-family: 'Bangers', cursive;
    grid-row: 2;
		grid-column: 1/5;
    font-size: 5em;
    text-align: center;
  }

  .img1{
      grid-row: 2;
      grid-column: 1/5;
      background-image: url('tv.png');
      width:100%;
  }

	.subtitle{
		color: #FFF000;
		text-shadow: 2px 2px #62DACA;
		font-family: 'Bangers', cursive;
		font-size: 2em;
		text-align: center;
	}

/*image group1*/
  .group1{
    grid-column: 1/5;
    grid-row:3;
    display: flex;
    flex-direction: row;
		align-items: center;
  }

  .vertical1{
    flex:1;
    height: 400px;
    width: 50%;
  }

	.posterintro1{
		grid-column: 1/5;
		grid-row: 4;
	}

	.intro1{
    font-family: 'Poiret One', cursive;
		color: white;
		padding-left: 2em;
		padding-right: 2em;
		font-size: 1.5em;
	}

/*image group2*/
  .group2{
		grid-column: 1/5;
    grid-row:5;
    display: flex;
    flex-direction: column;
		align-items: center;
	}

	.vertical2{
		flex:1;
    height: 400px;
    width: 100%;
	}

	.posterintro2{
		grid-column: 1/5;
		grid-row: 6;
	}

/*image group3*/
	  .group3{
			grid-column: 1/5;
	    grid-row:7;
	    display: flex;
	    flex-direction: column;
			align-items: center;
		}

		.vertical3{
			flex:1;
	    height: 400px;
	    width: 100%;
		}

		.posterintro3{
			grid-column: 1/5;
			grid-row: 8;
		}

/*about*/
  .about{
    grid-row:9;
    grid-column: 1/5;
    background-image: url('aboutimage.png');
    max-width:100%;
    height:800px;
    background-size:cover;
  }

  .pabout{
    font-size: 2em;
    color:white;
    font-family: 'Carter One', cursive;
    text-shadow: blue 3px 3px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sabout{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.3em;
    color: white;
    font-family: 'Carter One', cursive;
    text-shadow: #A93226 2px 2px;
  }

  a{
    text-decoration: none;
    color:white;
  }

/*contact*/
  .contact{
    background-color: #F5B041;
    grid-row: 10;
    grid-column: 1/5;
    color: white;
    text-shadow: 2px 2px 2px red;
    text-align: center;
    font-family: 'Carter One', cursive;
  }

  .fb {
    background:url(https://facebook.com/favicon.ico) no-repeat left center;
    padding-left:19px;
  }

  .ins{
    background:url(https://instagram.com/favicon.ico) no-repeat left center;
    padding-left:33px;
  }

/*footer*/
  footer{
    font-family: 'Bangers', cursive;
    text-shadow: blue 2px 2px;
    grid-row:11;
    grid-column: 1/5;
    color:yellow;
    text-align: center;
  }
}

@media(min-width:768px) {

	.pagecontainer{
    margin: auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .3fr .05fr .3fr .2fr .6fr .2fr .6fr .2fr .3fr .05fr .05fr;
  }

.nav{
  text-align: center;
  padding: 1rem;
	font-size: 2em;
}

h1{
  font-size: 9em;
}

h2{
  font-size: 3em;
}

.titlework{
  font-size: 5em;
}

.subtitle{
  font-size: 3em;
}

.vertical1{
  height: 600px;
	width: 40%;
	padding-left: 5%;
	padding-right: 5%;
}

.vertical2{
	height: 500px;
  width: 90%
}

.vertical3{
	height: 600px;
  width: 90%
}

.about{
  max-width:100%;
  height:800px;
}

.pabout{
  font-size: 3em;
  padding-left: 2rem;
  padding-right: 2rem;
}

.sabout{
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.5em;
}

}
