/*animation for text*/
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/*animation for h2*/
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/*animation for text*/
.tracking-in-expand-fwd-bottom {
	-webkit-animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
            transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
            transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}



header {
  padding: 2rem;
  text-align: center;
  background-image: url('header.jpg');
  animation-name: tracking-in-expand;
  animation-duration: 3s;
}

.pagecontainer {
  margin: auto;
  width: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  grid-gap: 2rem;
}

nav ul {
	background-color: #F7DC6F;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

nav ul li {
	display: inline-block;
  height: 2rem;
  padding: inherit;
  text-align: center;
}

nav ul li a {
	text-decoration: none;
  font-size: 1.8em;
  color: #FFFFFF;
	font-family: 'Righteous', cursive;
}
/*Active psuedoclass is used so When you click on a menu item it turns orange.*/
nav ul li:active {
	border-radius:1rem;
  background-color: #F1C40F;
}
/*This class should be applied to html differently on each page to let user know
which page you are on--in this case the home page*/
.locationmarker {
  padding-top: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  border-width: thin;
  text-align: center;
	font-family: 'Righteous', cursive;
}

.blog1{
  background-image: url('blog2.png');
  animation-name: tracking-in-expand-fwd-bottom;
  animation-duration: 2s;
}

.blog2{
  background-image: url('blog1.jpeg');
  animation-name: tracking-in-expand-fwd-bottom;
  animation-duration: 2s;
}

.intro{
	background-image: url('intro.jpg');
	animation-name: tracking-in-expand-fwd-bottom;
  animation-duration: 2s;
	color: #1F618D;
}

h1{
  color: #FFFFFF;
  font-variant: small-caps;
  font-family: 'Righteous', cursive;
  font-size: 4rem;
  text-shadow: black 3px 6px;
}

h2{
  text-decoration: underline;
  font-family: 'Righteous', cursive;
  animation-name: text-focus-in;
  animation-duration: 2s;
}

a{
	color: #BDC3C7;
}

article {
  color: #FFFFFF;
  font-family: 'Cuprum', sans-serif;
  padding-left: 2rem;
  padding-right: 2rem;
}

footer, aside {
  font-family: 'Righteous', cursive;
  padding: 1rem;
  text-align: center;
}
