

/*animation for home*/
@keyframes bounce {

  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

/*small screen*/
@media (min-width:480px) {
  .pagecontainer {
    margin: auto;
    width: auto;
    display: grid;
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr .1fr .3fr .3fr .6fr .3fr .6fr .3fr .6fr .1fr .1fr;
  }

  .nav {
    text-align: center;
    padding: 0.5rem;
    bottom: 0;
    position: fixed;
    width: 100%;
  }

  ul li {
    cursor: pointer;
    list-style-type: none;
    color: white;
    display: inline;
    font-family: 'Bangers', cursive;
    padding: 2em;
    text-shadow: 3px 3px 4px red;
  }

  ul li a {
    text-decoration: none;
  }

  header {
    text-align: center;
  }

  h1 {
    font-family: 'Bangers', cursive;
    text-align: center;
    font-size: 5em;
    color: white;
    text-shadow: 4px 3px 4px #01CCB8;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .home {
    grid-column: 1/5;
    grid-row: 1;
    background-image: url('background.png');
    max-width: 100%;
    height: 800px;
    background-size: cover;
  }

  h3{
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 1em;
    color: white;
  }

  .time {
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-size: 1em;
  }

  /*title work*/
  .titlework {
    color: #62DACA;
    text-shadow: 6px 6px #FFF000;
    font-family: 'Bangers', cursive;
    grid-row: 2;
    grid-column: 1/5;
    font-size: 5em;
    text-align: center;
  }

  .img1 {
    grid-row: 2;
    grid-column: 1/5;
    background-image: url('tv.png');
    width: 100%;
  }

  .subtitle {
    color: #FFF000;
    text-shadow: 2px 2px #62DACA;
    font-family: 'Bangers', cursive;
    font-size: 2em;
    text-align: center;
  }

  /*image group1*/
  .group1 {
    grid-column: 1/5;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .vertical1 {
    height: 400px;
    width: 50%;
  }

  .intro1 {
    grid-column: 1/5;
    grid-row: 4;
    font-family: 'Poiret One', cursive;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.5em;
  }

  /*image group2*/
  .group2 {
    grid-column: 1/5;
    grid-row: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .vertical2 {
    height: 400px;
    width: 100%;
  }

  .intro2 {
    grid-column: 1/5;
    grid-row: 6;
    font-family: 'Poiret One', cursive;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.5em;
  }

  /*image group3*/
  .group3 {
    grid-column: 1/5;
    grid-row: 7;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .vertical3 {
    height: 400px;
    width: 100%;
  }

  .intro3 {
    color: white;
    grid-column: 1/5;
    grid-row: 8;
    font-family: 'Poiret One', cursive;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.5em;
  }

  /*about*/
  .about {
    grid-row: 9;
    grid-column: 1/5;
    background-image: url('aboutimage.png');
    max-width: 100%;
    height: 800px;
    background-size: cover;
  }

  .pabout {
    font-size: 2em;
    color: white;
    font-family: 'Carter One', cursive;
    text-shadow: blue 3px 3px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .gabout{
    padding-left: 2rem;
    font-size: .8em;
    color: white;
    font-family: 'Carter One', cursive;
    text-shadow: blue 1px 1px;
  }

  .sabout {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1em;
    color: white;
    font-family: 'Carter One', cursive;
    text-shadow: #A93226 2px 2px;
  }

  a {
    text-decoration: none;
    color: white;
  }

  /*contact*/
  .contact {
    background-color: #F5B041;
    grid-row: 10;
    grid-column: 1/5;
    color: white;
    text-shadow: 2px 2px 2px red;
    text-align: center;
    font-family: 'Carter One', cursive;
  }

  .fb {
    background: url(https://facebook.com/favicon.ico) no-repeat left center;
    padding-left: 19px;
  }

  .ins {
    background: url(https://instagram.com/favicon.ico) no-repeat left center;
    padding-left: 33px;
  }

  /*footer*/
  footer {
    font-family: 'Bangers', cursive;
    text-shadow: blue 2px 2px;
    grid-row: 11;
    grid-column: 1/5;
    color: yellow;
    text-align: center;
  }
}

/*medium screen*/
@media(min-width:768px) {
  .pagecontainer {
    grid-template-rows: .3fr .05fr .3fr .3fr .4fr .3fr .6fr .3fr .3fr .05fr .05fr;
  }

  .nav {
    text-align: center;
    padding: 1rem;
    font-size: 1.8em;
  }

  h1 {
    font-size: 6em;
  }

  h3{
    font-size: 3em;
  }

  .titlework {
    font-size: 5em;
  }

  .subtitle {
    font-size: 3em;
  }

  .vertical1 {
    height: 550px;
    width: 46%;
    padding: 2%;
  }

  .vertical2 {
    height: 500px;
    width: 90%
  }

  .vertical3 {
    height: 600px;
    width: 90%;
    padding-top: 2%;
  }

  .about {
    max-width: 100%;
    height: 800px;
  }

  .pabout {
    font-size: 2.3em;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .gabout{
    font-size: 1em;
  }

  .sabout {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.3em;
  }
}

/*large screen*/
@media(min-width:1100px) {
  .pagecontainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr .1fr .4fr .5fr .3fr .03fr .6fr .08fr .1fr;
  }

  .home {
    height: 1500px;
  }

  h1 {
    font-size: 8em;
  }

  h3 {
    font-size: 3em;
  }

  .homeh2 {
    font-size: 4em;
  }

  img:hover {
    opacity: 1;
  }

  img {
    opacity: .75;
  }

  .titlework {
    font-size: 8em;
  }

  /*group1*/
  .group1 {
    grid-column: 1/3;
    grid-row: 3;
    flex: 100%;
    max-width: 100%;
    padding-top: 2%;
  }

  .vertical1 {
    height: 500px;
    padding-top: 0;
  }

  .intro1 {
    grid-column: 3/5;
    grid-row: 3;
  }

  /*group2*/
  .group2 {
    grid-column: 3/5;
    grid-row: 4;
    flex: 100%;
    max-width: 100%;
  }

  .vertical2 {
    height: 400px;
  }

  .intro2 {
    grid-column: 1/3;
    grid-row: 4;
  }

  /*group3*/
  .group3 {
    grid-column: 1/3;
    grid-row: 5;
    flex: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .vertical3 {
    height: 400px;
  }

  .intro3 {
    grid-column: 3/5;
    grid-row: 5;
  }

  .time {
    font-size: 1.5em;
  }

  .about {
    grid-row: 7;
    height: 1200px;
  }

  .pabout {
    font-size: 3.4em;
  }

  .gabout{
    font-size: 1.5em;
  }

  .sabout {
    font-size: 2em;
  }

  .contact {
    grid-row: 8;
  }

  footer {
    grid-row: 9;
  }
}
