/*web*/

.pagecontainer{
  margin: auto;
  width: auto;
  display: grid;
  background-color: black;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr .7fr .2fr;
}

nav{
  text-align: center;
  grid-row:1;
  grid-column: 3/6;
}

ul li{
  list-style-type: none;
  color:white;
  display:inline-grid;
  font-family: 'Poiret One', cursive;
	padding: inherit;
}

header{
  font-size-adjust: auto;
  grid-column: 2/7;
  text-align:center;
  text-shadow: #7FB3D5 7px 3px;
}

h1{
  font-family: 'Poiret One', cursive;
  text-align:center;
  font-size: 6em;
  color:white;
}

h2{
  font-family: 'Sacramento', cursive;
  text-align:center;
  font-size: 3em;
  color: white;
}

h3{
  text-align:center;
  font-size: 2em;
  color: white;
}

.home{
  grid-column: 1/9;
  background-image: url('background.png');
  max-width:100%;
  height:800px;
  background-size:cover;
  /*background-size:100% 100%;*/
}

.about{
  grid-row:3;
  grid-column: 1/9;
  background-image: url('aboutimage.png');
  max-width:100%;
  height:800px;
  background-size:cover;
}

footer{
  grid-row:4;
  grid-column: 1/9;
  background-color: white;
}
