/*animation for text*/
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/*animation for h2*/
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/*animation for text*/
.tracking-in-expand-fwd-bottom {
	-webkit-animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
            transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
            transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}



.pagecontainer {
  margin: auto;
  width: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .8fr .23fr .6fr .8fr 1.1fr 0.08fr .4fr;
  grid-gap: .8rem;
}

header {
	grid-column: 1/3;
	grid-row: 1;
  padding: 2rem;
  text-align: center;
  background-image: url('header.jpg');
  animation-name: tracking-in-expand;
  animation-duration: 3s;
}

nav{
	grid-column: 1/3;
	grid-row: 2;
	background-color: #F8DA38 ;
}

nav ul {
  justify-content: center;
  list-style-type: none;
	padding: inherit;
	text-align: center;
}

nav ul li a {
	color: #FFFFFF;
	text-shadow: #16AED5 1px 2px;
	text-decoration: none;
  font-size: 1.6em;
	font-family: 'Righteous', cursive;
	animation-name: tracking-in-expand;
	animation-duration: 1.5s;
}

nav ul li:active {
	border-radius: .4rem;
	border-style: outset;
  background-color: #FDC32B;
}

.locationmarker {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
  padding-left: 2rem;
  padding-right: 2rem;
	letter-spacing: .1rem;
  border-width: thin;
  text-align: center;
	font-family: 'Righteous', cursive;
}

.intro{
	grid-column: 1/3;
	grid-row: 3;
	background-image: url('intro.jpg');
	animation-name: tracking-in-expand-fwd-bottom;
  animation-duration: 2s;
	color: #1F618D;
}

.blog1{
	grid-column: 1/3;
	grid-row: 4;
  background-image: url('blog2.png');
  animation-name: tracking-in-expand-fwd-bottom;
  animation-duration: 2s;
}

.blog2{
	grid-column: 1/3;
	grid-row: 5;
  background-image: url('blog1.jpeg');
  animation-name: tracking-in-expand-fwd-bottom;
  animation-duration: 2s;
}

h1{
  color: #FFFFFF;
  font-variant: small-caps;
  font-family: 'Righteous', cursive;
  font-size: 4.2rem;
  text-shadow: #16AED5 3px 6px;
}

h2{
  text-decoration: underline;
  font-family: 'Righteous', cursive;
  animation-name: text-focus-in;
  animation-duration: 2s;
}

a{
	color: white;
}

.spea{
	color: #1F618D;
}

.top{
	color: #FFDA2A;
	grid-column: 1/3;
	grid-row: 6;
	text-decoration: none;
	font-size: 1.2em;
	font-family: 'Righteous', cursive;
	text-align: center;
	padding-top: .2rem;
}

article {
  color: #FFFFFF;
  font-family: 'Cuprum', sans-serif;
  padding-left: 2rem;
  padding-right: 2rem;
}

footer {
	color: white;
	text-shadow: #16AED5 .8px 1.2px;
	background-color: #F1C800;
	grid-column: 1/3;
	grid-row: 7;
  font-family: 'Righteous', cursive;
  padding: 1rem;
  text-align: center;
}
