
html{
background-color:#95D1CE;
}

ul{
  text-align: center;
}

ul li{
  list-style-type: none;
  color:white;
  font-size: 2em;
  display:inline-grid;
}

header{
  text-align:center;
}

h1{
  text-align:center;
  font-size: 10em;
  color:white;
}

h2{
  text-align:center;
  font-size: 3em;
  color: white;

}

h3{
  text-align:center;
  font-size: 2em;
  color: white;
}

.home{
  color:#74AAA4;
  background-color: white;
  font-size: 2em;
  text-align: center;
}
