/*small screen*/
@media  (min-width:350px) {
  .pagecontainer {
    margin: auto;
    width: auto;
    display: grid;
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr .1fr .3fr .3fr .6fr .3fr .6fr .3fr .6fr .08fr .1fr;
  }

  .nav {
    text-align: center;
    padding: 0.5rem;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  ul li {
    cursor: pointer;
    list-style-type: none;
    color: white;
    display: inline;
    font-family: 'Bangers', cursive;
    padding: 2em;
    font-size: 1.1em;
  }

  ul li a {
    text-decoration: none;
  }

  header {
    text-align: center;
  }

  .homeh1 {
    font-family: 'Abril Fatface', cursive;
    text-align: left;
    padding-left: .7em;
    font-size: 3em;
    color: white;
    padding-top: 1.8em;
  }

  .home {
    grid-column: 1/5;
    grid-row: 1;
    background-image: url('background.png');
    max-width: 100%;
    height: 800px;
    background-size: cover;
  }

  .homeh3 {
    font-size: 1.8em;
    color: white;
    font-family: 'Poiret One', cursive;
    text-align: right;
    padding-right: 1em;
    /*animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;*/
  }

  /*title*/
  .titlework {
    color: #62DACA;
    text-shadow: 6px 6px #FFF000;
    font-family: 'Bangers', cursive;
    grid-row: 2;
    grid-column: 1/5;
    font-size: 5em;
    text-align: center;
  }

  .img1 {
    grid-row: 2;
    grid-column: 1/5;
    background-image: url('tv.png');
    width: 100%;
  }

  .subtitle {
    color: #FFF000;
    text-shadow: 2px 2px #62DACA;
    font-family: 'Bangers', cursive;
    font-size: 2em;
    text-align: center;
  }

  /*image group1*/
  .group1 {
    grid-column: 1/5;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .vertical1 {
    width: 50%;
  }

  .intro1 {
    grid-column: 1/5;
    grid-row: 4;
    font-family: 'Poiret One', cursive;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.5em;
  }

  /*image group2*/
  .group2 {
    grid-column: 1/5;
    grid-row: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .vertical2 {

    width: 100%;
  }

  .intro2 {
    grid-column: 1/5;
    grid-row: 6;
    font-family: 'Poiret One', cursive;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.5em;
  }

  /*image group3*/
  .group3 {
    grid-column: 1/5;
    grid-row: 7;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .vertical3 {

    width: 100%;
  }

  .intro3 {
    color: white;
    grid-column: 1/5;
    grid-row: 8;
    font-family: 'Poiret One', cursive;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.5em;
  }

  /*about*/
  .about {
    grid-row: 9;
    grid-column: 1/5;
    background-image: url('aboutimage.png');
    max-width: 100%;
    background-size: cover;
  }

  .pabout {
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 2em;
    color: white;
    font-family: 'Carter One', cursive;
    text-shadow: blue 3px 3px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sabout {
    background-color: rgba(0, 0, 0, 0.3);
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1em;
    color: white;
    font-family: 'Carter One', cursive;
    text-shadow: #A93226 2px 2px;
  }

  a {
    text-decoration: none;
    color: white;
  }

  /*contact*/
  .contact {
    background-color: #FFCB00;
    grid-row: 10;
    grid-column: 1/5;
    font-size: 1.2em;
    color: white;
    text-shadow: 2px 2px #00812D;
    text-align: center;
    font-family: 'Carter One', cursive;
    display: inline;
  }

  /*footer*/
  footer {
    font-family: 'Bangers', cursive;
    text-shadow: blue 2px 2px;
    grid-row: 11;
    grid-column: 1/5;
    color: yellow;
    text-align: center;
  }
}

/*medium screen*/
@media only screen and (min-width:768px) {
  .pagecontainer {
    grid-template-rows: .3fr .05fr .3fr .3fr .4fr .3fr .6fr .3fr .3fr .05fr .05fr;
  }

  .nav {
    text-align: center;
    padding: 1rem;
    font-size: 1.5em;
  }

  .homeh1 {
    padding-left: 1em;
    font-size: 4em;
  }

  .homeh3 {
    padding-right: 1.5em;
    font-size: 2em;
  }

  .titlework {
    font-size: 5em;
  }

  .subtitle {
    font-size: 3em;
  }

  .vertical1 {
    width: 46%;
    padding: 2%;
  }

  .vertical2 {
    width: 90%
  }

  .vertical3 {
    width: 90%;
    padding-top: 2%;
  }

  .about {
    max-width: 100%;
    height: 800px;
  }

  .pabout {
    font-size: 2.3em;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sabout {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.3em;
  }
}

/*large screen*/
@media only screen and (min-width:1100px) {
  .pagecontainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr .1fr .4fr .5fr .3fr .03fr .6fr .06fr .1fr;
  }

  .home {
    height: 1500px;
  }

  .homeh1 {
    padding-top: 1em;
    padding-left: 2em;
    font-size: 5em;
  }

  .homeh3 {
    padding-right: 3em;
    font-size: 3em;
  }

  img:hover {
    opacity: 1;
  }

  img {
    opacity: .75;
  }

  ul li a:hover {
    color: yellow;
  }

  .titlework {
    font-size: 8em;
  }

  /*group1*/
  .group1 {
    grid-column: 1/3;
    grid-row: 3;
    flex: 100%;
    max-width: 100%;
    padding-top: 2%;
  }

  .vertical1 {
    padding-top: 0;
  }

  .intro1 {
    grid-column: 3/5;
    grid-row: 3;
  }

  /*group2*/
  .group2 {
    grid-column: 3/5;
    grid-row: 4;
    flex: 100%;
    max-width: 100%;
  }

  .intro2 {
    grid-column: 1/3;
    grid-row: 4;
  }

  /*group3*/
  .group3 {
    grid-column: 1/3;
    grid-row: 5;
    flex: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .intro3 {
    grid-column: 3/5;
    grid-row: 5;
  }

  .time {
    font-size: 1.5em;
  }

  .about {
    grid-row: 7;
    height: 1200px;
  }

  .pabout {
    font-size: 3.4em;
  }

  .sabout {
    font-size: 2em;
  }

  .contact {
    grid-row: 8;
  }

  footer {
    grid-row: 9;
  }
}
