
@media (min-width:480px) {

  .pagecontainer{
    margin: auto;
    width: auto;
    display: grid;
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr .14fr 3fr .7fr .15fr .2fr;
  }

  .nav{
    text-align: right;
    padding: 0.5rem;
  }

  ul li{
    cursor:pointer;
    list-style-type: none;
    color: white;
    display: inline;
    font-family: 'Poiret One', cursive;
    padding:1em;
    text-shadow: 4px 3px 4px red;
  }

  ul li a{
    text-decoration: none;
  }

  header{
    font-size-adjust: auto;
    text-align:center;
    text-shadow: 4px 3px 4px yellow;
  }

  h1{
    font-family: 'Poiret One', cursive;
    font-size: 6em;
    color:white;
  }

  h2{
    font-family: 'Sacramento', cursive;
    text-align:center;
    font-size: 2em;
    color: white;
    text-shadow: 4px 3px 4px #01CCB8;
  }

  .home{
    grid-column: 1/9;
    background-image: url('background.png');
    max-width:100%;
    height:800px;
    background-size:cover;
  }

  .titlework{
    text-shadow: 6px 6px #FFF000;
    font-family: 'Bangers', cursive;
    grid-row: 2;
    color:#62DACA;
    font-size: 5em;
    text-align: center;
  }

  .img{
      grid-row: 2;
      grid-column: 1/9;
      background-image: url('tv.png');
      width:100%;
  }

  .subtitle{
    color:white;
    font-family: 'Poiret One', cursive;
    font-size: 2em;
    text-shadow: 2px 2px 2px pink;
  }

  .work{
    grid-column: 1/9;
    grid-row:3;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }

  .vertical1{
    order:1;
    height: 600px;
    width: 80%;
  }

  .about{
    grid-row:4;
    grid-column: 1/9;
    background-image: url('aboutimage.png');
    max-width:100%;
    height:800px;
    background-size:cover;
  }

  .pabout{
    font-size: 2em;
    color:white;
    font-family: 'Carter One', cursive;
    text-shadow: blue 3px 3px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sabout{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.3em;
    color: white;
    font-family: 'Carter One', cursive;
    text-shadow: #A93226 2px 2px;
  }

  a{
    text-decoration: none;
    color:white;
  }

  .contact{
    background-color: #F5B041;
    grid-row: 5;
    grid-column: 1/9;
    color: white;
    text-shadow: 2px 2px 2px red;
    text-align: center;
    font-family: 'Carter One', cursive;
  }

  .fb {
    background:url(https://facebook.com/favicon.ico) no-repeat left center;
    padding-left:19px;
  }

  .ins{
    background:url(https://instagram.com/favicon.ico) no-repeat left center;
    padding-left:33px;
  }

  footer{
    font-family: 'Bangers', cursive;
    text-shadow: blue 2px 2px;
    grid-row:6;
    grid-column: 1/9;
    color:yellow;
    text-align: center;
  }
}

@media(min-width:768px) {

.nav{
  text-align: right;
  padding: 1rem;
}

h1{
  font-size: 9em;
}

h2{
  font-size: 3em;
}

.titlework{
  font-size: 6em;
}

.subtitle{
  font-size: 3em;
}

.vertical1{
  height: 800px;
  width: 60%;
}

.work{
  grid-column: 1/9;
  grid-row:3;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.vertical2{
  order:2;
  height: 600px;
  width: 80%;
}

.about{
  max-width:100%;
  height:800px;
}

.pabout{
  font-size: 3em;
  padding-left: 2rem;
  padding-right: 2rem;
}

.sabout{
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.5em;
}
}
