.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.pagecontainer {
  margin: auto;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .3fr .1fr .6fr .2fr;
  grid-gap: .6rem;
}

header {
	grid-column: 1/3;
	grid-row: 1;
  padding: 2rem;
  text-align: center;
  background-image: url('header.jpg');
  animation-name: tracking-in-expand;
  animation-duration: 3s;
}

h1{
  color: #FFFFFF;
  font-variant: small-caps;
  font-family: 'Righteous', cursive;
  font-size: 2.8rem;
  text-shadow: #16AED5 3px 6px;
}

a{
	color: white;
		text-decoration: none;
}

article{
	grid-column: 1/3;
	grid-row: 3;
	color: #1F618D;
	font-family: 'Cuprum', sans-serif;
  padding-left: 2rem;
  padding-right: 2rem;
}

h3{
	opacity: 20;
  background-color: #FFFAD2;
	color: orange;
	text-shadow: yellow .5px 1px;
	animation-name: tracking-in-expand;
	animation-duration: 1.5s;
}

nav{
	animation-name: tracking-in-expand;
	animation-duration: 3s;
	grid-column: 1/3;
	grid-row: 2;
	background-color: #F8DA38 ;
	justify-content: center;
	text-align: center;
	color: #FFFFFF;
	text-shadow: #16AED5 1px 2px;
	text-decoration: none;
  font-size: 1.6em;
	font-family: 'Righteous', cursive;
	padding-top: 1em;
	padding-bottom: 1em;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

nav:active {
	border-radius: .4rem;
	border-style: outset;
  background-color: #FDC32B;
}

.spea{
	color: #1F618D;
}

footer {
	color: white;
	text-shadow: #16AED5 .8px 1.2px;
	background-color: #F1C800;
	grid-column: 1/3;
	grid-row: 4;
  font-family: 'Righteous', cursive;
  padding: 1rem;
  text-align: center;
}
